<div class="container text-center">
    <%= will_paginate @users%>
    <% @users.each do |user|%>
  <table class="table table-striped">
  <tr>
      <td class="active"><%= link_to  user.username , user_path(user)%></td></tr>
  </table>
  <% if logged_in? && current_user.admin? %>
      <%= link_to "delete user", user_path(user), method: :delete %>
  <% end %>
  <% end %>
  <%= will_paginate @users %>
  </table>
  </div>