<div class="home-page jumbotron">
<div class="jumbotron text-center welcome">
    <h1>Добро пожаловть в блогсферу</h1>
    <div class="button-home"><%= link_to "Все посты", articles_path, class: "btn btn-default btn-lg"%></div>
</div>
</div>